<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout" th:with="title='Dodanie miejsca występowania roślin'">
<th:block layout:fragment="content">
    <form class="form-horizontal" method="post" th:action="@{/localization/create}" th:object="${localization}" id='localizationForm'>
        <div class="form-group row">
            <label for="example-localizationN-input" class="col-lg-offset-3 col-lg-6">Szerokość gęograficzna</label>
            <div class="col-lg-offset-3 col-lg-6">
                <input step="0.01" min="49" max="54.50" class="form-control" placeholder="0.0000" th:field="*{localizationN}" type="number" id="example-localizationN-input"/>
            </div>
        </div>
        <div class="form-group row">
            <label for="example-localizationE-input" class="col-lg-offset-3 col-lg-6">Długość geograficzna</label>
            <div class="col-lg-offset-3 col-lg-6">
                <input step="0.01" min="14.07" max="24.08"  class="form-control" placeholder="0.000" type="number" th:field="*{localizationE}" id="example-localizationE-input"/>
            </div>
        </div>

        <div class="form-group row">
            <label for="example-ecology-input" class="col-lg-offset-3 col-lg-6">Srodowisko</label>
            <div class="col-lg-offset-3 col-lg-6">
                <input class="form-control" placeholder="Srodowisko naturalne" type="text" th:field="*{ecology}" id="example-ecology-input"/>
            </div>
        </div>

        <div class="form-group row">
            <label for="example-comment-input" class="col-lg-offset-3 col-lg-6">Komentarz</label>
            <div class="col-lg-offset-3 col-lg-6">
                <input class="form-control" placeholder="Uwaga na dziki" type="text" th:field="*{comment}" id="example-comment-input"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-offset-3 col-lg-6">
                <button type="submit" class="btn btn-primary" id='sendRegisterForm'>Dodaj</button>
            </div>
        </div>

    </form>
</th:block>
</html>
