<html lang="pl"  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout"
      th:with="title='Strona główna'">
    <th:block layout:fragment="content">
        <div class="row">
            <div class="col-lg-12 text-center" id="aboutFishFirstPage">
                <h1 id="someInformationAboutFish"><span style="font-weight: bold; letter-spacing: 1px; font-size: 23px;">Karp</span>, jako gatunek, powstał na drodze naturalnej poliploidyzacji na przełomie trzeciorzędu i czwartorzędu w okolicach 
                Morza Kaspijskiego i wschodniej Anatolii. </h1>
            <h2 id="cdInformationAboutFish">W Polsce karp jest gatunkiem obcym, sprowadzonym pomiędzy XII a XIII wiekiem, prawdopodobnie z hodowli cystersów czeskich lub morawskich. <br/><br/>
                Na świecie odławia się ok. 200 tys. ton karpia rocznie. W Polsce stanowi połowę odławianych ryb słodkowodnych. Przez wędkarzy uważany jest za rybę waleczną i przebiegłą. <br/><br/>
                W Polsce w okresie powojennym został uznany za jedno z podstawowych dań wigilijnych, głównie ze względu na najniższą cenę i łatwość hodowli, która skłoniła ówczesne władze państwowe do jego masowej hodowli na potrzeby świąteczne.
            </h2>
        </div>
        </div>
    </th:block>
</html>
